.canvas {
  width: 800px;
  height: 400px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0px 0px 3px rgba(0, 0, 0, 0.5);
}

@media only screen and (max-width: 800px) and (max-height: 400px) {
  .canvas {
    width: 100%;
    height: auto;
  }
}

.controls__btns button {
  background-color: white;
  padding: 5px 10px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  border: 2px solid rgba(0, 0, 0, 0.2);
  color: rgba(0, 0, 0, 0.7);
  margin: 7px;
}